@import "~antd/dist/antd.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
:root {
    --bgcolor: #2D2F3B;
    --mainboxcolor: #202020;
    --boxcolor: #383B42;
    --btncolor3: #323232;
    --bluecolor: #47b1e9;
    --orange: #FFB800;
    --fontcolor: #ffffff;
    --lablecolor: #818181;
    --greencolor: #06DD57;
    --hovercolor:#1a212e;
}
body{
    background-color: var(--bgcolor);
    color: var(--fontcolor);
    font-family: 'Poppins', sans-serif;
}